<div class='row'>
    <div class='span4'>
        <div class="alert alert-info">
            Please select the action you want to perform.
        </div>
    </div>
    <div class='span9'>
        <label class="radio">
            <input type="radio" name="whatToDoForm" ng-model='condition.whatToDo' value="new_form">
            Create a new form.
        </label>
        <label class="radio">
            <input type="radio" name="whatToDoForm" ng-model='condition.whatToDo' value="edit_copy_form">
            Edit/copy an existing form.
        </label>
    </div>
</div>

<div ng-switch on ='condition.whatToDo'>


    <div ng-switch-when ='new_form'>
        <!-- Then end user has selected to create a new form. -->
        <div ng-include src='myConfigUrl.newForm'></div>
    </div>

    <div ng-switch-when ='edit_copy_form'>
        <!-- Then end user has selected to edit an exisiting form. -->
        <div ng-include src='myConfigUrl.editCopyForm'></div>
    </div>

</div>



